* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Third Party Overrides */

/* react-js-pagination */

.pagination {
  display: flex;
  flex-grow: 1;
  max-width: min(500px, 95vw);
  min-width: 375px;
}

.pagination > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border: lightgray 1px solid;
  flex-grow: 1;
}

.pagination a {
  line-height: 12px;
}

.pagination > .disabled {
  border-color: gray;
  color: gray;
  cursor: default;
}

.pagination > .active {
  background-color: lightgray;
}

.pagination > li:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.pagination > li:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
